{% load static %}

<html>
    <head>
        <title>ClassTime</title>
        <link rel="stylesheet" type="text/css"
        href="{% static 'schedules/hrcolor.css' %}">
    </head>
    <body>
      <div class="title">
        <h1><span class="title">ClassTime</span></h1>
      </div>
      <br >
      <div class="container">
        <h3>
          <div class="subtitle">
            carreras
          </div>
        </h3>
        <div class="section">
          <div class="careerchoice">
            {% if career_list %}
              {% for career in career_list %}
                {% if forloop.counter|divisibleby:2 %}
                  <a href="{% url 'schedules:career' career.id %}">
                    <center><input type='button' name='boton'
                      value='{{career}}' class="materia"></center>
                  </a>
                {% else %}
                  <a href="{% url 'schedules:career' career.id %}">
                    <center><br><input type='button' name='boton'
                      value='{{career}}' class="materia"></center>
                  </a>
                {% endif %}
              {% endfor %}
            {% else %}
            {% endif %}
          </div>
        </div>
      </div>
    </body>
    </html>
